header {
  background: linear-gradient(to right, #0382f0, #33029e);
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

li {
  padding: 5px;
}

.card {
  background-color: #022d52;
}

